.resume-sect {
    /* width: 80vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resume-card {
  width: 60vw;
  height: 80vh;
  /* background-color: black; */
  box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 1rem;
  overflow: hidden;
  flex-wrap: nowrap;
  /* margin: 2rem 0rm; */
}

.resume-nav-side {
  box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--homecolor);
  color: #fff;
  width: max-content;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.acca{
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
}

.resume-ul {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 2rem;
}
.resume-ul li a{
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
}

.resume-right {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 1rem; */
  /* gap: 80vh; */
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  
}

.resume-right div li {
margin: 1rem;
}

.resume-nav-click {
  background-color: var(--hovercolor);
  color: var(--homecolor);
  padding: 1rem;
}

.hide {
  display: none;
}
.show {
  display: block;
  margin: 1rem;
}

/* _________________Media Queries____________ */

@media screen and (max-width:480px) {
.resume-sect {
  /* width: 80vw; */
  height: 90vh;
}


  .resume-card {

      gap: 1rem;
      overflow: hidden;
      /* flex-wrap: nowrap; */
    width: 90vw;
    height: 90vh;
   
    
    /* flex-direction: column; */
    gap: 1rem;
    /* overflow: visible; */
    flex-wrap: wrap;
    /* margin: 2rem 0rm; */
  }
  
  .resume-nav-side {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
   
    /* width: 100vw; */
    height: 25vh;
    display: flex;
  }
  .resume-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem;
    gap: 2rem;
  }
  .resume-ul li a{
      color: #fff;
      padding: 0.8rem 1.5rem;
      border-radius: 1rem;
  }
  
  

  
  .resume-nav-click {
    padding: 0rem;
  }
  .resume-right {
    width: 90vw;
    height: 0vh;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    
  }
  
  
  
  
}
/* box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0); */