<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../src/components/Resume/resume.css"> -->
    <link rel="stylesheet" href="/resu.css" />
  </head>
  <body>
    <div class="resume-right">
      <div className="education">
        <a id="edu"></a>
        <li>Matric: (Hira School And College Charbagh Swat -2010)</li>
        <li>DBA: Diploma in business administration (GCMS, KPK SWAT) (2012)</li>
        <li>HDA UK: Higher Diploma in Accounting (PAC Peshawar -2013)</li>
        <li>
          ACCA UK: PAC Peshawar (Association of chartered certified accountants)
          (2019)
        </li>
      </div>
      <div className="skills">
        <a id="skill"></a>
        <li>Matric: (Hira School And College Charbagh Swat -2010)</li>
        <li>DBA: Diploma in business administration (GCMS, KPK SWAT) (2012)</li>
        <li>HDA UK: Higher Diploma in Accounting (PAC Peshawar -2013)</li>
        <li>
          ACCA UK: PAC Peshawar (Association of chartered certified accountants)
          (1111)
        </li>
      </div>
      <div className="work">
        <a id="work"></a>
        <li>Matric: (Hira School And College Charbagh Swat -2010)</li>
        <li>DBA: Diploma in business administration (GCMS, KPK SWAT) (2012)</li>
        <li>HDA UK: Higher Diploma in Accounting (PAC Peshawar -2013)</li>
        <li>
          ACCA UK: PAC Peshawar (Association of chartered certified accountants)
          (2222)
        </li>
      </div>
    </div>
  </body>
</html>
